body{
    background-color: white;
    
}

a{
    color: #000000;
}

a:hover{
    text-decoration: none;
}

#logo_inicial{
    display: block;
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icone_inicial{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

.no_border{
    border: none;
}